@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-figtree: 'Bungee', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree), Arial, Helvetica, sans-serif;
}

.testimonialSectionFont{
  font-family: var(--font-lexend), Arial, Helvetica, sans-serif;;
}

body::-webkit-scrollbar {
  display: none;  
}

::-webkit-scrollbar {
  height: 3px; /* adjust height for horizontal scrollbar */
  width: 8px; /* adjust width for vertical scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #6B6B6B; /* The color of the scrollbar thumb */
  border-radius: 9999px; /* This makes it pill-shaped */
  border: 1px solid transparent;
}
